*{
  margin: 0; padding: 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
html{
  font-size: 100px;
}
body{
  font-size:.12rem; font-family:$font; color:#333; -webkit-text-size-adjust:none
}
a{
  color:#333; text-decoration:none; outline:none;
  &:active{star:expression(this.onFocus=this.blur());}
  &:link {text-decoration: none; outline:none;}
  &:visited{text-decoration: none; outline:none;}
  &:hover{text-decoration:none; color:$color; outline:none;}
}
li{list-style:outside none;}
h1{font-size:16px;}
h2, h3, h4, h5{font-size:14px;}
h5{font-size:12px;}
textarea, input{background:transparent; font-size:12px; font-family:$font; color:#888; outline:none; border:0}
em{font-style:normal;}
img{vertical-align:middle; max-width:100%; border:0}
video {max-width:100%; border:0;height: auto;}

.fl{float:left;}
.fr{float:right;}
.clear{clear:both; height:0; display:block; _display:inherit;}
.before{content: ""; display: block; position: absolute; left: 50%; top: 0}
.h10{@include height(.1rem)}
.h50{@include height(1rem)}

.wal{max-width: 14rem; margin:0 auto}
.w1085{width: 10.8rem}

@font-face {
  font-family: 'raleway';
  src: url('fonts/raleway.eot');
  src: url('fonts/raleway.eot') format('embedded-opentype'),
  url('fonts/raleway.woff2') format('woff2'),
  url('fonts/raleway.woff') format('woff'),
  url('fonts/raleway.ttf') format('truetype'),
  url('fonts/raleway.svg#raleway') format('svg');
}


