@import "public";
@import "main";

$headH:1.21rem;
.headD{height: $headH}
.head{position: absolute; z-index: 50; left: 0; top: 0; width: 100%; background: #fff;
  .wal{height: $headH; position: relative}
  a.logo{display: block; @include absolute($l:0, $t:0); width: 2.72rem; height: 100%; background: url("../image/logo.png") left center no-repeat; background-size: 100%}
  .btn{@include absolute($r:.61rem, $t:.42rem); @extend .flex;
    a.btn-1{color: #fff; @include radius(.5rem); border: #2773e3 solid .02rem; font-size: .14rem; text-align: center; width: 1.58rem; height: .36rem; line-height: .32rem;background: #2773e3;
      &:hover{background: none; color: #008acf}
    }
    a.btn-2{margin-left: .1rem; width: .51rem; height: .36rem; background: url("../image/img17.png") center no-repeat; background-size: .17rem}
  }
  .topSearch{@include absolute($t:0, $r:0); width: .51rem; height: 100%;
    &:before{@include before(); top: 0; width: 100%; height: 100%; cursor: pointer; background: url("../image/img17.png") center no-repeat; background-size: .17rem}
    .form{width: 2.5rem; height: .4rem; background: #fff; @include absolute($t:100%, $r:0); margin-top: 0; @include shadow(0 0 .1rem rgba(0, 0, 0, .1)); opacity: 0; visibility: hidden; @extend .transition}
    .input input{width: 100%; height: .4rem; line-height: .4rem; font-size: .12rem; padding: 0 .2rem}
    .submit{width: .5rem; height: 100%; background: url("../image/img20.png") center no-repeat; background-size: .2rem; @include absolute($t:0, $r:0);
      input{width: 100%; height: .4rem; cursor: pointer}
    }
    &:hover .form{opacity: 1; visibility: visible; margin-top: -.1rem}
  }
}
.nav{@include absolute($t:0, $r:2.8rem);
  ul{@extend .flex}
  li{position: relative;
    a.name{display: block; height: $headH; padding: .44rem .25rem 0 .25rem; position: relative; font-size: .16rem; color: #000; text-align: center;
      span{display: block; font-size: .12rem; @include absolute($l:-10%, $t:.68rem); width: 120%; opacity: .71; font-family: 'raleway'; font-weight: 800; @include scale(.83)}
      &:hover, &.on{color: #7330b7}
    }
    .list{@include absolute($l:0, $t:-10rem); background: #fff; width: 2.2rem; border-left: #7330b7 solid .02rem; margin-top: -.3rem; @include shadow(.1rem .1rem .1rem rgba(0, 0, 0, .1)); padding: 0 0 .1rem 0; opacity: 0; visibility: hidden;
      &:before{@include before(); left: -.02rem; width: .02rem; height: .5rem; top: -.5rem; background: #7330b7}
      dd{position: relative}
      a{display: block; font-size: .14rem; height:auto ; line-height: .38rem; color: #4a4a4a; padding-left: .23rem;
        &:hover{padding-left: .37rem}
		spanjustify
		  {
			  font-size: 12px;
			  padding-left: 0.1rem;
		  }
		
      }
      .list2{@include absolute($l:100%, $t:-10rem); margin-left: -.1rem; background: #fff; width: 2.2rem; @include shadow(.1rem .1rem .1rem rgba(0, 0, 0, .1)); padding: .1rem 0; opacity: 0; visibility: hidden;
        a{padding-left: .28rem}
      }
		
		&.spe
		{
			width: 3.6rem;
		}
    }
  }
  .btn2, .search{display: none}
}
@media screen and (min-width: 800px){
  .nav li:hover{
    a.name{color: #7330b7}
    .list{opacity: 1; visibility: visible; top: 100%;
      $time:0.3s;
      transition:opacity $time linear;
      -webkit-transition:opacity $time linear;
      -moz-transition:opacity $time linear;
      -o-transition:opacity $time linear;
      dd:hover{
        a{background: #f3f3f3; color: $color}
        .list2{opacity: 1; visibility: visible; top: 0;
          $time:0.3s;
          transition:opacity $time linear;
          -webkit-transition:opacity $time linear;
          -moz-transition:opacity $time linear;
          -o-transition:opacity $time linear;
          a{background: #fff; color: #4a4a4a;
            &:hover{color: $color}
          }
        }
      }
    }
  }
}

.foot{border-top: #fff solid .05rem; background: url("../image/foot.jpg") center no-repeat; background-size: cover; position: relative; color: #fff;
  &:before{@include before(); left: 0; bottom: 0; width: 100%; height: .88rem; background: url("../image/footbg.png") center repeat-y; background-size: 100%}
  .wal{min-height: 4.14rem; position: relative}
  .logo{width: 2.72rem; padding: .6rem 0 .16rem 0}
  .msg{font-size: .12rem; line-height: .22rem; opacity: .72; padding-bottom: .3rem}
  .ewm{@include absolute($t:.65rem, $r:0); width: 1.46rem;
    p{font-size: .12rem; text-align: center; line-height: .52rem}
  }
  .share{height: 1.3rem;
    dd{float: left; width: .44rem; margin-right: .15rem}
    dd:nth-child(1){display: none}
  }
  .info{font-size: .12rem; line-height: .22rem; opacity: .63}
  .link{@include absolute($r:0, $b:.23rem, $z:30); width: 2.02rem; height: .37rem; line-height: .37rem; background: rgba(255, 255, 255, .15); color: #fff; font-size: .12rem; padding-left: .2rem; cursor: pointer;
    &:before{@include before(); top: 0; right: .2rem; width: .07rem; height: 100%; background: url("../image/img7.png") center no-repeat; background-size: 100%}
    ul{@include absolute($l:0, $b:100%); width: 100%; display: none}
    li{border-bottom: #eee solid 1px;
      a{display: block; height: .37rem; line-height: .37rem; background: #fff; padding: 0 .2rem; @extend .ellipsis}
    }
    &.on ul{display: block}
  }
}

/*index*/
.indexFlash{width: 100%; overflow: hidden; position: relative; max-width: 16rem; margin: 0 auto;
  .swiper-slide a{display: block; height: 7.5rem; background: #ccc center no-repeat; background-size: cover;
    .name{@include absolute($l:0, $b:0); width: 100%; text-align: center; color: #fff; font-weight: bold; height: .84rem; line-height: .84rem; font-size: .24rem; background: rgba(39, 39, 39, .73); @extend .ellipsis}
  }
  a.arrow{display: block; width: .84rem; height: .84rem; @include absolute($b:.9rem); background: rgba(117, 53, 187, .73) url("../image/prev29.png") center no-repeat; background-size: .29rem;
    &:hover{background-color: #7535bb}
    &.prev{left: 0}
    &.next{right: 0; background-image: url("../image/next29.png")}
  }
  .dots{@extend .flex; @extend .justifyCenter; height: .9rem; padding-top: .28rem;
    span{background: #c5b8d4; width: .13rem; height: .13rem; margin: 0 .1rem; @include radius(50%)}
    .swiper-pagination-bullet-active{background: #7a3fbf}
  }
}

.indexPart1{max-width: 10rem;
  .h10{height: .78rem}
  .fl{width: 6.1rem;
    .title{height: .65rem; position: relative; font-size: .16rem; color: #252586;
      h2{font-weight: 400; font-size: .3rem; line-height: .3rem; padding-bottom: .05rem}
      p{@extend .pPublic}
      a.more{@extend .morePublic}
    }
    li a{min-height: .98rem; border-bottom: #e9e9e9 solid 1px; position: relative; @extend .flex; @extend .itemsCenter; color: #252586;
      &:before{@include before(); left: .8rem; top: 0; width: .06rem; height: 100%; background: url("../image/img6.png") center no-repeat; background-size: 100%}
      .time{@include absolute($l:.1rem); text-align: center; font-size: .12rem;
        div{font-size: .3rem}
      }
      .name{font-size: .16rem; line-height: .24rem; padding: 0 .36rem 0 1.18rem}
      &:hover{color: #000;
        &:before{background-image: url("../image/img6on.png")}
      }
    }
  }
  .fr{width: 3.4rem;
    .list{border-top: #7940bf solid 2px; border-left: #eaecec solid 1px; border-right: #eaecec solid 1px; min-height: 3.47rem; padding: 0 .29rem}
    .title{height: .75rem; position: relative; font-size: .14rem; color: #6d6d6d; padding-top: .2rem;
      h2{font-weight: 400; font-size: .2rem; line-height: .3rem;}
      p{@extend .pPublic}
      a.more{@extend .morePublic; top: .15rem}
    }
    li a{min-height: .93rem; border-bottom: #e9e9e9 solid 1px; position: relative; @extend .flex; @extend .itemsCenter; color: #6d6d6d;
      .time{@include absolute($l:.08rem); text-align: center; font-size: .12rem; color: #413d3d; @extend .transition;
        div{font-size: .3rem}
      }
      .name{font-size: .14rem; line-height: .22rem; padding: 0 0 0 .72rem}
      &:hover{color: $blue;
        .time{color: $blue}
      }
    }
    li:last-child a{border: 0}
    a.btn{display: block; height: 1rem; color: #fff; background: url("../image/img340.jpg") right center no-repeat; background-size: cover; padding: .25rem 0 0 .45rem;
      h2{font-weight: 400; font-size: .24rem; padding-bottom: .03rem}
      p{@extend .pPublic; font-size: .12rem}
    }
  }
}

.indexPart2{min-height: 4.5rem; position: relative; color: #fff; padding-bottom: .83rem;
  ul{@extend .flexWrap;
    li{width: 50%; height: 4.5rem; overflow: hidden; color: #fff; padding: 0 .7rem; @extend .flexColumn; @extend .justifyCenter; position: relative;
      .bg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../image/img960_1.jpg") center no-repeat; background-size: cover; @extend .transition}
      img{width: 1.42rem; position: relative}
      p{@extend .pPublic; font-size: .3rem; line-height: .36rem; padding: .25rem 0 0 0; position: relative;
        b{font-family: Arial}
      }
      h2{font-weight: 400; font-size: .3rem; position: relative}
      a{display: block; @include absolute($l:0, $t:0); width: 100%; height: 100%}
    }
    li:nth-child(2){text-align: right;
      .bg{background-image: url("../image/img960_2.jpg")}
    }
    li:hover .bg{@include scale()}
  }
  .container{border: #fff solid .1rem; height: 1.59rem; width: 8.56rem; background: url("../image/bg10.png") center repeat-x; background-size: auto 100%; @include absolute($l:50%, $b:0); margin-left: -4.28rem; @include radius(1rem); @extend .flex; @extend .itemsCenter; @extend .flexBetween;
    &:before{@include before(); left: 3.44rem; top: 0; width: 1px; height: 100%; background: rgba(255, 255, 255, .21)}
    .title{padding-left: .97rem;
      p{font-size: .16rem; @extend .pPublic}
      h2{font-weight: 400; font-size: .3rem; letter-spacing: .02rem; padding-top: .02rem}
    }
    .list{width: 4.4rem;
      a{display: block; color: #fff; font-size: .16rem; padding-left: .22rem; line-height: .35rem; background: url("../image/img6_1.png") left center no-repeat; background-size: .06rem; position: relative; left: 0}
      a:hover{left: .1rem}
    }
  }
}

.indexPart3{
  .h10{height: 1.1rem}
  .title{position: relative; padding: .85rem 0 .2rem 0;
    h2{font-weight: 400; font-size: .3rem; padding-bottom: .03rem; color: #2e414a}
    p{@extend .pPublic; font-size: .16rem; color: #3e545f}
    a.more{@extend .morePublic; top: 1rem}
  }
  .fl{width: 7rem;
    .list{width: 100%; overflow: hidden; position: relative}
    .swiper-slide{position: relative;
      .name{@include absolute($l:0, $b:.25rem); width: 100%; text-align: center; color: #fff; font-size: .18rem}
      a.btn{display: block; @include absolute($l:0, $t:0); width: 100%; height: 100%; background: url("../image/img72.png") center no-repeat; background-size: .72rem}
    }
    .dots{@extend .flex; @extend .justifyCenter; padding-top: .36rem;
      span{background: #c5b8d4; width: .13rem; height: .13rem; margin: 0 .1rem; @include radius(50%)}
      .swiper-pagination-bullet-active{background: #7a3fbf}
    }
  }
  .fr{width: 5.85rem;
    .list{border-top: #e2e2e2 solid 1px;
      a{border-bottom: #e2e2e2 solid 1px; min-height: 1.12rem; display: block; padding: .25rem 0 .2rem 0; color: #2e414a;
        .tag{@include radius(.3rem); color: #fff; height: .28rem; line-height: .28rem; padding: 0 .18rem; background: url("../image/img105.png") center repeat-y; background-size: 100%; font-size: .12rem; display: inline-block}
        .name{font-size: .16rem; line-height: .24rem; padding-top: .12rem}
      }
      a:hover{color: $blue}
    }
  }
}

.pageBg{background: #f0f3f4; min-height: 1rem}

/*page*/
.pageBanner{height: 4.5rem; background: center top no-repeat; background-size: cover; width: 100%; overflow: hidden; position: relative;
  .title{color: #fff;
    h2{font-size: .48rem; padding: 1.52rem 0 0 0}
    p{@extend .pPublic; font-size: .3rem}
  }
  .bg{@include absolute($l:50%, $b:0); width: 100%; background: #fff; height: .7rem; margin-left: -7rem; padding: .25rem 0 0 .4rem}
}
.pageBanner-2{height: 3rem; text-align: center;
  .wal{height: 3rem; position: relative;
    &:before{@include before(); left: 0; bottom: 0; width: 100%; height: .6rem; background: #fff}
  }
  .title h2{padding-top: .6rem}
  .curr{line-height: .55rem; font-size: .12rem; color: #fff; display: inline-block; padding-left: .22rem; background: url("../image/img14on.png") left .2rem no-repeat; background-size: .14rem;
    a{color: #fff}
  }
}
.pageNow{height: .45rem; line-height: .45rem; color: #919191; padding-left: .22rem; background: url("../image/img14.png") left .15rem no-repeat; background-size: .14rem;
  a{color: #919191}
  a:hover{color: $blue}
}

.sideNav{padding: .25rem 0 0 .45rem; width: 2.36rem; position: relative; overflow: hidden;
  &:before{@include before(); left: 1px; top: .35rem; width: 1px; height: 100%; background: #cfd1d1}
  li{position: relative; border-bottom: #f0f0f0 solid 1px;
    &:before{@include before(); left: -.45rem; top: 10%; width: 3px; background: #7545aa; height: 80%; opacity: 0}
    a{display: block; line-height: .51rem; position: relative; font-size: .16rem; color: #666;
      &:before{@include before(); left: -.45rem; top: 50%; width: 3px; background: #7545aa; height: 0; margin-top: 0}
		span
		{
			display: block;
			font-size: 12px;
			line-height: 1.25em;
			margin-top: -0.1rem;
			padding-bottom: 0.13rem;
		}
    }
    a:hover, a.on{color: #7545aa;
      &:before{height: .3rem; margin-top: -.15rem}
    }
    dl{display: none}
    dd a{font-size: .14rem; height: .36rem; line-height: .36rem; padding-left: .18rem; top: -.08rem;
      &:after{@include before(); left: .04rem; top: 0; width: .04rem; height: 100%; background: url("../image/img6_2.png") center no-repeat; background-size: 100%}
      &:before{display: none}
    }
  }
  li.on{
    &:before{opacity: 1}
  }
}
.sideNav.on{position: fixed; left: 50%; margin-left: -7rem; top: 0}

.major{
  h2.title{color: $color; font-size: .32rem; padding: .32rem 0 .22rem 0}
  .content{font-size: .16rem; line-height: .28rem; color: #2e414a; text-align: justify; padding-bottom: .6rem}
  .list{width: 5.2rem;
    div.title{background: url("../image/img520_1.jpg") right center no-repeat; background-size: cover; line-height: .64rem; color: #fff; padding-left: .25rem; font-size: .2rem}
    li{border-bottom: #e2e2e2 solid 1px;
      .name{font-size: .16rem; line-height: .55rem; padding-left: .25rem; cursor: pointer; position: relative;display: block;color: #000; @extend .transition;
        &:before{@include before(); top: 0; right: .28rem; background: url("../image/img16.png") center no-repeat; background-size: 100%; width: .16rem; height: 100%}
		  &:hover {background: #eee !important;}
      }
      .container{background: #f5f8f8 url("../image/bg1.jpg") center bottom repeat-x; background-size: .08rem; padding: .25rem; font-size: .14rem; display: none;
        p{line-height: .22rem; color: #676767; text-align: justify}
        .title2{font-size: .18rem; color: #656565; @extend .flex; @extend .itemsCenter; height: .65rem;
          &:before, &:after{@include before(); position: relative; width: 50%; height: 1px; background: #d5e0e0}
          span{padding: 0 .2rem; flex-shrink: 0; -webkit-flex-shrink: 0}
        }
        dd{line-height: .32rem; padding-left: .24rem; color: #676767; position: relative;
          &:before{@include before(); left: .02rem; top: 0; width: .06rem; height: .32rem; background: url("../image/img6_2.png") center no-repeat; background-size: 100%}
          a{color: #7545aa}
        }
        .more{padding: .25rem 0 .15rem 0;
          a{display: block; margin: 0 auto; background: #7545aa; color: #fff; width: 1.46rem; height: .47rem; line-height: .47rem; @include radius(.4rem); text-align: center}
          a:hover{background: #5e3988}
        }
        .btn{padding-top: .25rem; @extend .flex; @extend .flexBetween;
          a{@include radius(.3rem); color: #636363; width: 1.36rem; height: .36rem; line-height: .34rem; text-align: center; border: #d6d4d8 solid 1px; background: #fff}
          a:hover{color: #fff; background: #7545aa; border-color: #7545aa}
        }
      }
    }
    li:nth-child(even) .name{background: #f7f7f7}
    li.on{
      .name{background: #7545aa; color: #fff;
        &:before{background-image: url("../image/img16on.png")}
      }
    }
  }
  .list.fr{
    div.title{background-image: url("../image/img520_2.jpg")}
    li.on .name{background: #2574e4;
	   &:before{background-image: url("../image/img16-1on.png")}
	  }
	 li .name:before
	  {
		  background-image: url("../image/img16-1.png");
		  width: 0.09rem;
	  }
    .container{
      dd{
        &:before{background-image: url("../image/img6_3.png")}
        a{color: #2574e4}
      }
      .btn a:hover{background: #2574e4; border-color: #2574e4}
    }
  }
}

.pageTitle{color: $color; font-size: .32rem; padding: .32rem 0}
.pageList{border-top: #e9e9e9 solid 1px;
  a{display: block; position: relative; border-bottom: #e9e9e9 solid 1px; font-size: .16rem; color: #000; min-height: .66rem; line-height: .66rem; padding-left: 1.18rem;
    .time{color: $color; @include absolute($l:0, $t:0)}
    &:hover{color: $color}
  }
}

.pageNum{padding: .4rem 0; @extend .flex; @extend .itemsCenter; @extend .flexBetween;
  a.arrow{font-size: .14rem; color: #777;
    &:hover{color: $color}
  }
  div{@extend .flex;
    a{font-size: .18rem; width: .32rem; height: .32rem; line-height: .32rem; text-align: center; @include radius(.04rem); margin: 0 1px;
      &.on, &:hover{background: $color; color: #fff}
      &.on{font-weight: bold}
    }
  }
}

.photo{
  ul{@extend .flexWrap; margin-left: -.49rem}
  li{width: 33.333%; padding: 0 0 .35rem .49rem}
  a{display: block; position: relative;
    &:before{@include before(); z-index: 2; left: 0; top: 0; width: 100%; height: 100%; background: url("../image/img330.png") center top no-repeat; background-size: 100%}
    .img{width: 100%; overflow: hidden; position: relative;
      img{width: 100%}
    }
    .name{color: #fff; @include absolute($l:0, $b:.2rem); width: 100%; padding: 0 .32rem;
      h2{font-size: .12rem; padding-bottom: .08rem}
      p{font-size: .16rem; line-height: .24rem}
    }
  }
  a:hover{@include shadow(0 0 .2rem rgba(0, 0, 0, .4));
    .img img{@include scale(1.1)}
  }
}

.tsinghua{
  ul{@extend .flexWrap}
  li{width: 50%; padding-bottom: .45rem}
  a{display: block; @include shadow(0 0 .1rem rgba(0, 0, 0, .1)); padding: 0 .34rem; background: #fff; position: relative; z-index: 1;
    .img{margin-left: -.34rem; margin-right: -.34rem}
    .name{position: relative; background: #fff; top: -.32rem; padding-top: .32rem; font-size: .22rem; text-align: center}
    p{font-size: .12rem; line-height: .22rem; color: #878686; text-align: justify; min-height: 1.3rem; padding-bottom: .3rem}
  }
  a:hover{@include shadow(0 0 .2rem rgba(0, 0, 0, .15)); z-index: 2}
}

.award{
  .content, p{font-size: .16rem; line-height: .28rem; color: #2e414a; text-align: justify}
  .content{padding-bottom: .4rem}
  .list{
    li{padding-bottom: .2rem}
    .name{font-size: .2rem; padding-left: .2rem; color: $color; background: url("../image/img6_2.png") left center no-repeat; background-size: .06rem; line-height: .5rem}
  }
  .list2{padding-top: .2rem;
    li{padding-bottom: .4rem}
    h2{font-size: .16rem; line-height: .48rem; color: #2e414a}
  }
}

.channel{padding-bottom: 30vh;
  .title{@extend .flex; @extend .itemsCenter; padding: .2rem 0;
    h2{font-weight: 400; color: $color; font-size: .24rem; padding-right: .2rem; flex-shrink: 0; -webkit-flex-shrink: 0}
    &:after{@include before(); width: 100%; height: 1px; background: #e0e0e0; position: relative}
  }
  .content{font-size: .16rem; line-height: .26rem; text-align: justify; padding-bottom: .15rem}
}

.query{padding: .35rem 0 .6rem 0;
  .form{width: 5.92rem; min-height: 3.31rem; @include shadow(0 0 .1rem rgba(0, 0, 0, .1)); padding: 0 .38rem; margin: 0 auto}
  .title{background: url("../image/img592.jpg") center no-repeat; background-size: cover; line-height: .74rem; color: #fff; font-size: .2rem; padding: 0 .38rem; margin-left: -.38rem; margin-right: -.38rem; margin-bottom: .36rem}
  li{padding-bottom: .16rem}
  .input{@include radius(3px); background: #f3f6f9; border: #dfe0e9 solid 1px;
    input{width: 100%; font-size: .14rem; padding: 0 .2rem; height: .44rem; line-height: .44rem}
  }
  .submit{padding: .13rem 0;
    div{@include radius(.5rem); margin: 0 auto; width: 1.34rem; background: #7545aa}
    input{width: 100%; height: .44rem; font-size: .14rem; color: #fff; cursor: pointer}
  }
}

.announcements{padding-top: .25rem; max-width: 10rem;
  .pageList{border: 0}
}

.school{padding-top: .25rem; max-width: 10rem;
  .list{
    li{border-bottom: #e2e2e2 solid 1px}
    a{display: block; position: relative; min-height: .64rem; font-size: .16rem; color: #2e414a; padding-right: 2.2rem;
      .name{line-height: .3rem; padding: .17rem 0}
      .tag{@include radius(.3rem); color: #fff; height: .28rem; line-height: .28rem; padding: 0 .18rem; background: url("../image/img105.png") center repeat-y; background-size: 100%; font-size: .12rem; @include absolute($t:50%, $r:0); margin-top: -.14rem}
    }
    a:hover{color: $color}
  }
}

.video{padding-top: .4rem; max-width: 12.1rem;
  .list{border-bottom: #e4e4e4 solid 1px;
    ul{@extend .flexWrap; margin-left: -.43rem}
    li{width: 33.333%; padding: 0 0 .13rem .43rem}
    a{display: block;
      .img{position: relative; @extend .transition;
        &:before{@include before(); left: .3rem; bottom: .22rem; width: .62rem; height: .63rem; background: url("../image/img62.png") center no-repeat; background-size: cover}
      }
      .name{line-height: .3rem; min-height: .96rem; padding: .18rem 0; font-size: .18rem; color: #404040; @extend .transition}
    }
    a:hover{
      .img{opacity: .8}
      .name{color: $color}
    }
  }
}

.pageShowHead{background: url("../image/pageShowHead.jpg") center no-repeat; background-size: cover;
  .wal{min-height: 2rem; position: relative; padding: .64rem 0 .53rem 0}
  .pageNow{@include absolute($l:0, $t:.1rem); width: 100%}
  .title{max-width: 10rem; margin: 0 auto; position: relative; min-height: .83rem; padding: .05rem 0 .05rem .45rem; color: #000;
    &:before{@include before(); left: 0; top: 0; width: .05rem; height: 100%; background: url("../image/img5.jpg") center no-repeat; background-size: 100% 100%}
    h2{font-size: .32rem; padding-bottom: .06rem}
    p{font-size: .16rem; font-family: 'raleway'; font-weight: bold}
  }
}
.pageShow{max-width: 10rem; padding: .6rem 0; font-size: .16rem; line-height: .3rem; 
  .img{text-align: center; padding-bottom: .2rem;
    span{display: block; font-size: .12rem; color: $color; padding-top: .15rem}
  }
  p{margin: 0.75em 0;}
  h2{font-weight: 400; font-size: .24rem; padding: .1rem 0; color: #000}
  h3{font-weight: 400; font-size: .2rem; color: #000; padding: .06rem 0}
  a{color: #2475e5;border-bottom: #2475e5 dotted 1px;padding-bottom: 4px;
    &:hover{color: $color;border: none;
    }
  }
	
	img, video {max-width: 100%;height: auto !important;}
	
}

.righttools{position: fixed; z-index: 999; right: .2rem; bottom: .2rem; width: .52rem;
  .i{cursor: pointer; background: rgba(0, 0, 0, .25) center no-repeat; background-size: cover; height: .52rem; border: rgba(255, 255, 255, .25) solid 1px; @include radius(50%); margin-bottom: .1rem;
    &:hover{background-color: rgba(0, 0, 0, .3);}
    &.icon-angle-up{background-image: url("../image/img50_1.png"); display: none;}
    &.icon-share{background-image: url("../image/img50_2.png");}
  }
  .sharewrapper{height: 0; overflow: hidden; position: relative; @extend .transition;
    &.show{height: 2rem;}
    a.i{display: block; width: 100%; margin: 0 0 .1rem 0;}
    .i.icon-wechat{background-color: #12d900; background-image: url("../image/img50_3.png");}
    .i.icon-weibo{background-color: #e80000; background-image: url("../image/img50_4.png");}
    .i.icon-qq{background-color: #5755ff; background-image: url("../image/img50_5.png");}
  }
}

.bd_weixin_popup{
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}



.ie {
  text-align: center;
  font-size: 18px;
  background: #FC6;
  line-height: 1.75em;
  z-index: 100000;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0; 
  padding-top: 60px;
}

.ie div
{
	width: 70%;
	margin: auto;
	text-align: left;
}

.ie span {
  position: absolute;
	top: 20px;
	right: 30px;
  cursor: pointer; }







