
a, .transition, .head .topSearch .form, .indexPart1 .fr li a .time, .indexPart2 ul li .bg, .major .list li .name, .video .list a .img, .video .list a .name, .righttools .sharewrapper, :before, img, .nav {
  transition: All 0.3s linear;
  -webkit-transition: All 0.3s linear;
  -moz-transition: All 0.3s linear;
  -o-transition: All 0.3s linear; }

.ellipsis, .foot .link li a, .indexFlash .swiper-slide a .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.flex, .head .btn, .nav ul, .indexFlash .dots, .indexPart1 .fl li a, .indexPart1 .fr li a, .indexPart2 .container, .indexPart3 .fl .dots, .major .list li .container .title2, .major .list li .container .btn, .pageNum, .pageNum div, .channel .title {
  display: flex;
  display: -webkit-flex; }

.flexColumn, .indexPart2 ul li {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column; }

.itemsCenter, .indexPart1 .fl li a, .indexPart1 .fr li a, .indexPart2 .container, .major .list li .container .title2, .pageNum, .channel .title {
  align-items: center;
  -webkit-align-items: center; }

.justifyCenter, .indexFlash .dots, .indexPart2 ul li, .indexPart3 .fl .dots {
  justify-content: center;
  -webkit-justify-content: center; }

.flexAround {
  justify-content: space-around;
  -webkit-justify-content: space-around; }

.flexBetween, .indexPart2 .container, .major .list li .container .btn, .pageNum {
  justify-content: space-between;
  -webkit-justify-content: space-between; }

.flexWrap, .indexPart2 ul, .photo ul, .tsinghua ul, .video .list ul {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.morePublic, .indexPart1 .fl .title a.more, .indexPart1 .fr .title a.more, .indexPart3 .title a.more {
  display: block;
  width: .32rem;
  height: .46rem;
  background: url("../image/more18.png") center no-repeat;
  background-size: .18rem;
  position: absolute;
  z-index: 10;
  left: auto;
  right: 0;
  top: 0;
  bottom: auto; }
  .morePublic:hover, .indexPart1 .fl .title a.more:hover, .indexPart1 .fr .title a.more:hover, .indexPart3 .title a.more:hover {
    background-image: url("../image/more18on.png"); }

.pPublic, .indexPart1 .fl .title p, .indexPart1 .fr .title p, .indexPart1 .fr a.btn p, .indexPart2 ul li p, .indexPart2 .container .title p, .indexPart3 .title p, .pageBanner .title p {
  text-transform: uppercase;
  font-family: 'raleway';
  font-weight: 400; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 100px; }

body {
  font-size: .12rem;
  font-family: Arial, "微软雅黑";
  color: #333;
  -webkit-text-size-adjust: none; }

a {
  color: #333;
  text-decoration: none;
  outline: none; }
  a:active {
    star: expression(this.onFocus=this.blur()); }
  a:link {
    text-decoration: none;
    outline: none; }
  a:visited {
    text-decoration: none;
    outline: none; }
  a:hover {
    text-decoration: none;
    color: #7330b7;
    outline: none; }

li {
  list-style: outside none; }

h1 {
  font-size: 16px; }

h2, h3, h4, h5 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

textarea, input {
  background: transparent;
  font-size: 12px;
  font-family: Arial, "微软雅黑";
  color: #888;
  outline: none;
  border: 0; }

em {
  font-style: normal; }

img {
  vertical-align: middle;
  max-width: 100%;
  border: 0; }

video {
  max-width: 100%;
  border: 0;
  height: auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both;
  height: 0;
  display: block;
  _display: inherit; }

.before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0; }

.h10 {
  height: 0.1rem;
  overflow: hidden;
  clear: both; }

.h50 {
  height: 1rem;
  overflow: hidden;
  clear: both; }

.wal {
  max-width: 14rem;
  margin: 0 auto; }

.w1085 {
  width: 10.8rem; }

@font-face {
  font-family: 'raleway';
  src: url("fonts/raleway.eot");
  src: url("fonts/raleway.eot") format("embedded-opentype"), url("fonts/raleway.woff2") format("woff2"), url("fonts/raleway.woff") format("woff"), url("fonts/raleway.ttf") format("truetype"), url("fonts/raleway.svg#raleway") format("svg"); }
.headD {
  height: 1.21rem; }

.head {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff; }
  .head .wal {
    height: 1.21rem;
    position: relative; }
  .head a.logo {
    display: block;
    position: absolute;
    z-index: 10;
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
    width: 2.72rem;
    height: 100%;
    background: url("../image/logo.png") left center no-repeat;
    background-size: 100%; }
  .head .btn {
    position: absolute;
    z-index: 10;
    left: auto;
    right: 0.61rem;
    top: 0.42rem;
    bottom: auto; }
    .head .btn a.btn-1 {
      color: #fff;
      -moz-border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      border-radius: 0.5rem;
      border: #2773e3 solid .02rem;
      font-size: .14rem;
      text-align: center;
      width: 1.58rem;
      height: .36rem;
      line-height: .32rem;
      background: #2773e3; }
      .head .btn a.btn-1:hover {
        background: none;
        color: #008acf; }
    .head .btn a.btn-2 {
      margin-left: .1rem;
      width: .51rem;
      height: .36rem;
      background: url("../image/img17.png") center no-repeat;
      background-size: .17rem; }
  .head .topSearch {
    position: absolute;
    z-index: 10;
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
    width: .51rem;
    height: 100%; }
    .head .topSearch:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: url("../image/img17.png") center no-repeat;
      background-size: .17rem; }
    .head .topSearch .form {
      width: 2.5rem;
      height: .4rem;
      background: #fff;
      position: absolute;
      z-index: 10;
      left: auto;
      right: 0;
      top: 100%;
      bottom: auto;
      margin-top: 0;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden; }
    .head .topSearch .input input {
      width: 100%;
      height: .4rem;
      line-height: .4rem;
      font-size: .12rem;
      padding: 0 .2rem; }
    .head .topSearch .submit {
      width: .5rem;
      height: 100%;
      background: url("../image/img20.png") center no-repeat;
      background-size: .2rem;
      position: absolute;
      z-index: 10;
      left: auto;
      right: 0;
      top: 0;
      bottom: auto; }
      .head .topSearch .submit input {
        width: 100%;
        height: .4rem;
        cursor: pointer; }
    .head .topSearch:hover .form {
      opacity: 1;
      visibility: visible;
      margin-top: -.1rem; }

.nav {
  position: absolute;
  z-index: 10;
  left: auto;
  right: 2.8rem;
  top: 0;
  bottom: auto; }
  .nav li {
    position: relative; }
    .nav li a.name {
      display: block;
      height: 1.21rem;
      padding: .44rem .25rem 0 .25rem;
      position: relative;
      font-size: .16rem;
      color: #000;
      text-align: center; }
      .nav li a.name span {
        display: block;
        font-size: .12rem;
        position: absolute;
        z-index: 10;
        left: -10%;
        right: auto;
        top: 0.68rem;
        bottom: auto;
        width: 120%;
        opacity: .71;
        font-family: 'raleway';
        font-weight: 800;
        transform: scale(0.83);
        -webkit-transform: scale(0.83);
        -moz-transform: scale(0.83);
        -o-transform: scale(0.83); }
      .nav li a.name:hover, .nav li a.name.on {
        color: #7330b7; }
    .nav li .list {
      position: absolute;
      z-index: 10;
      left: 0;
      right: auto;
      top: -10rem;
      bottom: auto;
      background: #fff;
      width: 2.2rem;
      border-left: #7330b7 solid .02rem;
      margin-top: -.3rem;
      box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
      padding: 0 0 .1rem 0;
      opacity: 0;
      visibility: hidden; }
      .nav li .list:before {
        content: "";
        display: block;
        position: absolute;
        left: -.02rem;
        width: .02rem;
        height: .5rem;
        top: -.5rem;
        background: #7330b7; }
      .nav li .list dd {
        position: relative; }
      .nav li .list a {
        display: block;
        font-size: .14rem;
        height: auto;
        line-height: .38rem;
        color: #4a4a4a;
        padding-left: .23rem; }
        .nav li .list a:hover {
          padding-left: .37rem; }
        .nav li .list a spanjustify {
          font-size: 12px;
          padding-left: 0.1rem; }
      .nav li .list .list2 {
        position: absolute;
        z-index: 10;
        left: 100%;
        right: auto;
        top: -10rem;
        bottom: auto;
        margin-left: -.1rem;
        background: #fff;
        width: 2.2rem;
        box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
        padding: .1rem 0;
        opacity: 0;
        visibility: hidden; }
        .nav li .list .list2 a {
          padding-left: .28rem; }
      .nav li .list.spe {
        width: 3.6rem; }
  .nav .btn2, .nav .search {
    display: none; }

@media screen and (min-width: 800px) {
  .nav li:hover a.name {
    color: #7330b7; }
  .nav li:hover .list {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear; }
    .nav li:hover .list dd:hover a {
      background: #f3f3f3;
      color: #7330b7; }
    .nav li:hover .list dd:hover .list2 {
      opacity: 1;
      visibility: visible;
      top: 0;
      transition: opacity 0.3s linear;
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear; }
      .nav li:hover .list dd:hover .list2 a {
        background: #fff;
        color: #4a4a4a; }
        .nav li:hover .list dd:hover .list2 a:hover {
          color: #7330b7; } }
.foot {
  border-top: #fff solid .05rem;
  background: url("../image/foot.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  color: #fff; }
  .foot:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .88rem;
    background: url("../image/footbg.png") center repeat-y;
    background-size: 100%; }
  .foot .wal {
    min-height: 4.14rem;
    position: relative; }
  .foot .logo {
    width: 2.72rem;
    padding: .6rem 0 .16rem 0; }
  .foot .msg {
    font-size: .12rem;
    line-height: .22rem;
    opacity: .72;
    padding-bottom: .3rem; }
  .foot .ewm {
    position: absolute;
    z-index: 10;
    left: auto;
    right: 0;
    top: 0.65rem;
    bottom: auto;
    width: 1.46rem; }
    .foot .ewm p {
      font-size: .12rem;
      text-align: center;
      line-height: .52rem; }
  .foot .share {
    height: 1.3rem; }
    .foot .share dd {
      float: left;
      width: .44rem;
      margin-right: .15rem; }
    .foot .share dd:nth-child(1) {
      display: none; }
  .foot .info {
    font-size: .12rem;
    line-height: .22rem;
    opacity: .63; }
  .foot .link {
    position: absolute;
    z-index: 30;
    left: auto;
    right: 0;
    top: auto;
    bottom: 0.23rem;
    width: 2.02rem;
    height: .37rem;
    line-height: .37rem;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    font-size: .12rem;
    padding-left: .2rem;
    cursor: pointer; }
    .foot .link:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: .2rem;
      width: .07rem;
      height: 100%;
      background: url("../image/img7.png") center no-repeat;
      background-size: 100%; }
    .foot .link ul {
      position: absolute;
      z-index: 10;
      left: 0;
      right: auto;
      top: auto;
      bottom: 100%;
      width: 100%;
      display: none; }
    .foot .link li {
      border-bottom: #eee solid 1px; }
      .foot .link li a {
        display: block;
        height: .37rem;
        line-height: .37rem;
        background: #fff;
        padding: 0 .2rem; }
    .foot .link.on ul {
      display: block; }

/*index*/
.indexFlash {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-width: 16rem;
  margin: 0 auto; }
  .indexFlash .swiper-slide a {
    display: block;
    height: 7.5rem;
    background: #ccc center no-repeat;
    background-size: cover; }
    .indexFlash .swiper-slide a .name {
      position: absolute;
      z-index: 10;
      left: 0;
      right: auto;
      top: auto;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: bold;
      height: .84rem;
      line-height: .84rem;
      font-size: .24rem;
      background: rgba(39, 39, 39, 0.73); }
  .indexFlash a.arrow {
    display: block;
    width: .84rem;
    height: .84rem;
    position: absolute;
    z-index: 10;
    left: auto;
    right: auto;
    top: auto;
    bottom: 0.9rem;
    background: rgba(117, 53, 187, 0.73) url("../image/prev29.png") center no-repeat;
    background-size: .29rem; }
    .indexFlash a.arrow:hover {
      background-color: #7535bb; }
    .indexFlash a.arrow.prev {
      left: 0; }
    .indexFlash a.arrow.next {
      right: 0;
      background-image: url("../image/next29.png"); }
  .indexFlash .dots {
    height: .9rem;
    padding-top: .28rem; }
    .indexFlash .dots span {
      background: #c5b8d4;
      width: .13rem;
      height: .13rem;
      margin: 0 .1rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    .indexFlash .dots .swiper-pagination-bullet-active {
      background: #7a3fbf; }

.indexPart1 {
  max-width: 10rem; }
  .indexPart1 .h10 {
    height: .78rem; }
  .indexPart1 .fl {
    width: 6.1rem; }
    .indexPart1 .fl .title {
      height: .65rem;
      position: relative;
      font-size: .16rem;
      color: #252586; }
      .indexPart1 .fl .title h2 {
        font-weight: 400;
        font-size: .3rem;
        line-height: .3rem;
        padding-bottom: .05rem; }
    .indexPart1 .fl li a {
      min-height: .98rem;
      border-bottom: #e9e9e9 solid 1px;
      position: relative;
      color: #252586; }
      .indexPart1 .fl li a:before {
        content: "";
        display: block;
        position: absolute;
        left: .8rem;
        top: 0;
        width: .06rem;
        height: 100%;
        background: url("../image/img6.png") center no-repeat;
        background-size: 100%; }
      .indexPart1 .fl li a .time {
        position: absolute;
        z-index: 10;
        left: 0.1rem;
        right: auto;
        top: auto;
        bottom: auto;
        text-align: center;
        font-size: .12rem; }
        .indexPart1 .fl li a .time div {
          font-size: .3rem; }
      .indexPart1 .fl li a .name {
        font-size: .16rem;
        line-height: .24rem;
        padding: 0 .36rem 0 1.18rem; }
      .indexPart1 .fl li a:hover {
        color: #000; }
        .indexPart1 .fl li a:hover:before {
          background-image: url("../image/img6on.png"); }
  .indexPart1 .fr {
    width: 3.4rem; }
    .indexPart1 .fr .list {
      border-top: #7940bf solid 2px;
      border-left: #eaecec solid 1px;
      border-right: #eaecec solid 1px;
      min-height: 3.47rem;
      padding: 0 .29rem; }
    .indexPart1 .fr .title {
      height: .75rem;
      position: relative;
      font-size: .14rem;
      color: #6d6d6d;
      padding-top: .2rem; }
      .indexPart1 .fr .title h2 {
        font-weight: 400;
        font-size: .2rem;
        line-height: .3rem; }
      .indexPart1 .fr .title a.more {
        top: .15rem; }
    .indexPart1 .fr li a {
      min-height: .93rem;
      border-bottom: #e9e9e9 solid 1px;
      position: relative;
      color: #6d6d6d; }
      .indexPart1 .fr li a .time {
        position: absolute;
        z-index: 10;
        left: 0.08rem;
        right: auto;
        top: auto;
        bottom: auto;
        text-align: center;
        font-size: .12rem;
        color: #413d3d; }
        .indexPart1 .fr li a .time div {
          font-size: .3rem; }
      .indexPart1 .fr li a .name {
        font-size: .14rem;
        line-height: .22rem;
        padding: 0 0 0 .72rem; }
      .indexPart1 .fr li a:hover {
        color: #252586; }
        .indexPart1 .fr li a:hover .time {
          color: #252586; }
    .indexPart1 .fr li:last-child a {
      border: 0; }
    .indexPart1 .fr a.btn {
      display: block;
      height: 1rem;
      color: #fff;
      background: url("../image/img340.jpg") right center no-repeat;
      background-size: cover;
      padding: .25rem 0 0 .45rem; }
      .indexPart1 .fr a.btn h2 {
        font-weight: 400;
        font-size: .24rem;
        padding-bottom: .03rem; }
      .indexPart1 .fr a.btn p {
        font-size: .12rem; }

.indexPart2 {
  min-height: 4.5rem;
  position: relative;
  color: #fff;
  padding-bottom: .83rem; }
  .indexPart2 ul li {
    width: 50%;
    height: 4.5rem;
    overflow: hidden;
    color: #fff;
    padding: 0 .7rem;
    position: relative; }
    .indexPart2 ul li .bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../image/img960_1.jpg") center no-repeat;
      background-size: cover; }
    .indexPart2 ul li img {
      width: 1.42rem;
      position: relative; }
    .indexPart2 ul li p {
      font-size: .3rem;
      line-height: .36rem;
      padding: .25rem 0 0 0;
      position: relative; }
      .indexPart2 ul li p b {
        font-family: Arial; }
    .indexPart2 ul li h2 {
      font-weight: 400;
      font-size: .3rem;
      position: relative; }
    .indexPart2 ul li a {
      display: block;
      position: absolute;
      z-index: 10;
      left: 0;
      right: auto;
      top: 0;
      bottom: auto;
      width: 100%;
      height: 100%; }
  .indexPart2 ul li:nth-child(2) {
    text-align: right; }
    .indexPart2 ul li:nth-child(2) .bg {
      background-image: url("../image/img960_2.jpg"); }
  .indexPart2 ul li:hover .bg {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2); }
  .indexPart2 .container {
    border: #fff solid .1rem;
    height: 1.59rem;
    width: 8.56rem;
    background: url("../image/bg10.png") center repeat-x;
    background-size: auto 100%;
    position: absolute;
    z-index: 10;
    left: 50%;
    right: auto;
    top: auto;
    bottom: 0;
    margin-left: -4.28rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem; }
    .indexPart2 .container:before {
      content: "";
      display: block;
      position: absolute;
      left: 3.44rem;
      top: 0;
      width: 1px;
      height: 100%;
      background: rgba(255, 255, 255, 0.21); }
    .indexPart2 .container .title {
      padding-left: .97rem; }
      .indexPart2 .container .title p {
        font-size: .16rem; }
      .indexPart2 .container .title h2 {
        font-weight: 400;
        font-size: .3rem;
        letter-spacing: .02rem;
        padding-top: .02rem; }
    .indexPart2 .container .list {
      width: 4.4rem; }
      .indexPart2 .container .list a {
        display: block;
        color: #fff;
        font-size: .16rem;
        padding-left: .22rem;
        line-height: .35rem;
        background: url("../image/img6_1.png") left center no-repeat;
        background-size: .06rem;
        position: relative;
        left: 0; }
      .indexPart2 .container .list a:hover {
        left: .1rem; }

.indexPart3 .h10 {
  height: 1.1rem; }
.indexPart3 .title {
  position: relative;
  padding: .85rem 0 .2rem 0; }
  .indexPart3 .title h2 {
    font-weight: 400;
    font-size: .3rem;
    padding-bottom: .03rem;
    color: #2e414a; }
  .indexPart3 .title p {
    font-size: .16rem;
    color: #3e545f; }
  .indexPart3 .title a.more {
    top: 1rem; }
.indexPart3 .fl {
  width: 7rem; }
  .indexPart3 .fl .list {
    width: 100%;
    overflow: hidden;
    position: relative; }
  .indexPart3 .fl .swiper-slide {
    position: relative; }
    .indexPart3 .fl .swiper-slide .name {
      position: absolute;
      z-index: 10;
      left: 0;
      right: auto;
      top: auto;
      bottom: 0.25rem;
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: .18rem; }
    .indexPart3 .fl .swiper-slide a.btn {
      display: block;
      position: absolute;
      z-index: 10;
      left: 0;
      right: auto;
      top: 0;
      bottom: auto;
      width: 100%;
      height: 100%;
      background: url("../image/img72.png") center no-repeat;
      background-size: .72rem; }
  .indexPart3 .fl .dots {
    padding-top: .36rem; }
    .indexPart3 .fl .dots span {
      background: #c5b8d4;
      width: .13rem;
      height: .13rem;
      margin: 0 .1rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    .indexPart3 .fl .dots .swiper-pagination-bullet-active {
      background: #7a3fbf; }
.indexPart3 .fr {
  width: 5.85rem; }
  .indexPart3 .fr .list {
    border-top: #e2e2e2 solid 1px; }
    .indexPart3 .fr .list a {
      border-bottom: #e2e2e2 solid 1px;
      min-height: 1.12rem;
      display: block;
      padding: .25rem 0 .2rem 0;
      color: #2e414a; }
      .indexPart3 .fr .list a .tag {
        -moz-border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem;
        color: #fff;
        height: .28rem;
        line-height: .28rem;
        padding: 0 .18rem;
        background: url("../image/img105.png") center repeat-y;
        background-size: 100%;
        font-size: .12rem;
        display: inline-block; }
      .indexPart3 .fr .list a .name {
        font-size: .16rem;
        line-height: .24rem;
        padding-top: .12rem; }
    .indexPart3 .fr .list a:hover {
      color: #252586; }

.pageBg {
  background: #f0f3f4;
  min-height: 1rem; }

/*page*/
.pageBanner {
  height: 4.5rem;
  background: center top no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .pageBanner .title {
    color: #fff; }
    .pageBanner .title h2 {
      font-size: .48rem;
      padding: 1.52rem 0 0 0; }
    .pageBanner .title p {
      font-size: .3rem; }
  .pageBanner .bg {
    position: absolute;
    z-index: 10;
    left: 50%;
    right: auto;
    top: auto;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: .7rem;
    margin-left: -7rem;
    padding: .25rem 0 0 .4rem; }

.pageBanner-2 {
  height: 3rem;
  text-align: center; }
  .pageBanner-2 .wal {
    height: 3rem;
    position: relative; }
    .pageBanner-2 .wal:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .6rem;
      background: #fff; }
  .pageBanner-2 .title h2 {
    padding-top: .6rem; }
  .pageBanner-2 .curr {
    line-height: .55rem;
    font-size: .12rem;
    color: #fff;
    display: inline-block;
    padding-left: .22rem;
    background: url("../image/img14on.png") left 0.2rem no-repeat;
    background-size: .14rem; }
    .pageBanner-2 .curr a {
      color: #fff; }

.pageNow {
  height: .45rem;
  line-height: .45rem;
  color: #919191;
  padding-left: .22rem;
  background: url("../image/img14.png") left 0.15rem no-repeat;
  background-size: .14rem; }
  .pageNow a {
    color: #919191; }
  .pageNow a:hover {
    color: #252586; }

.sideNav {
  padding: .25rem 0 0 .45rem;
  width: 2.36rem;
  position: relative;
  overflow: hidden; }
  .sideNav:before {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    top: .35rem;
    width: 1px;
    height: 100%;
    background: #cfd1d1; }
  .sideNav li {
    position: relative;
    border-bottom: #f0f0f0 solid 1px; }
    .sideNav li:before {
      content: "";
      display: block;
      position: absolute;
      left: -.45rem;
      top: 10%;
      width: 3px;
      background: #7545aa;
      height: 80%;
      opacity: 0; }
    .sideNav li a {
      display: block;
      line-height: .51rem;
      position: relative;
      font-size: .16rem;
      color: #666; }
      .sideNav li a:before {
        content: "";
        display: block;
        position: absolute;
        left: -.45rem;
        top: 50%;
        width: 3px;
        background: #7545aa;
        height: 0;
        margin-top: 0; }
      .sideNav li a span {
        display: block;
        font-size: 12px;
        line-height: 1.25em;
        margin-top: -0.1rem;
        padding-bottom: 0.13rem; }
    .sideNav li a:hover, .sideNav li a.on {
      color: #7545aa; }
      .sideNav li a:hover:before, .sideNav li a.on:before {
        height: .3rem;
        margin-top: -.15rem; }
    .sideNav li dl {
      display: none; }
    .sideNav li dd a {
      font-size: .14rem;
      height: .36rem;
      line-height: .36rem;
      padding-left: .18rem;
      top: -.08rem; }
      .sideNav li dd a:after {
        content: "";
        display: block;
        position: absolute;
        left: .04rem;
        top: 0;
        width: .04rem;
        height: 100%;
        background: url("../image/img6_2.png") center no-repeat;
        background-size: 100%; }
      .sideNav li dd a:before {
        display: none; }
  .sideNav li.on:before {
    opacity: 1; }

.sideNav.on {
  position: fixed;
  left: 50%;
  margin-left: -7rem;
  top: 0; }

.major h2.title {
  color: #7330b7;
  font-size: .32rem;
  padding: .32rem 0 .22rem 0; }
.major .content {
  font-size: .16rem;
  line-height: .28rem;
  color: #2e414a;
  text-align: justify;
  padding-bottom: .6rem; }
.major .list {
  width: 5.2rem; }
  .major .list div.title {
    background: url("../image/img520_1.jpg") right center no-repeat;
    background-size: cover;
    line-height: .64rem;
    color: #fff;
    padding-left: .25rem;
    font-size: .2rem; }
  .major .list li {
    border-bottom: #e2e2e2 solid 1px; }
    .major .list li .name {
      font-size: .16rem;
      line-height: .55rem;
      padding-left: .25rem;
      cursor: pointer;
      position: relative;
      display: block;
      color: #000; }
      .major .list li .name:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: .28rem;
        background: url("../image/img16.png") center no-repeat;
        background-size: 100%;
        width: .16rem;
        height: 100%; }
      .major .list li .name:hover {
        background: #eee !important; }
    .major .list li .container {
      background: #f5f8f8 url("../image/bg1.jpg") center bottom repeat-x;
      background-size: .08rem;
      padding: .25rem;
      font-size: .14rem;
      display: none; }
      .major .list li .container p {
        line-height: .22rem;
        color: #676767;
        text-align: justify; }
      .major .list li .container .title2 {
        font-size: .18rem;
        color: #656565;
        height: .65rem; }
        .major .list li .container .title2:before, .major .list li .container .title2:after {
          content: "";
          display: block;
          position: absolute;
          position: relative;
          width: 50%;
          height: 1px;
          background: #d5e0e0; }
        .major .list li .container .title2 span {
          padding: 0 .2rem;
          flex-shrink: 0;
          -webkit-flex-shrink: 0; }
      .major .list li .container dd {
        line-height: .32rem;
        padding-left: .24rem;
        color: #676767;
        position: relative; }
        .major .list li .container dd:before {
          content: "";
          display: block;
          position: absolute;
          left: .02rem;
          top: 0;
          width: .06rem;
          height: .32rem;
          background: url("../image/img6_2.png") center no-repeat;
          background-size: 100%; }
        .major .list li .container dd a {
          color: #7545aa; }
      .major .list li .container .more {
        padding: .25rem 0 .15rem 0; }
        .major .list li .container .more a {
          display: block;
          margin: 0 auto;
          background: #7545aa;
          color: #fff;
          width: 1.46rem;
          height: .47rem;
          line-height: .47rem;
          -moz-border-radius: 0.4rem;
          -webkit-border-radius: 0.4rem;
          border-radius: 0.4rem;
          text-align: center; }
        .major .list li .container .more a:hover {
          background: #5e3988; }
      .major .list li .container .btn {
        padding-top: .25rem; }
        .major .list li .container .btn a {
          -moz-border-radius: 0.3rem;
          -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem;
          color: #636363;
          width: 1.36rem;
          height: .36rem;
          line-height: .34rem;
          text-align: center;
          border: #d6d4d8 solid 1px;
          background: #fff; }
        .major .list li .container .btn a:hover {
          color: #fff;
          background: #7545aa;
          border-color: #7545aa; }
  .major .list li:nth-child(even) .name {
    background: #f7f7f7; }
  .major .list li.on .name {
    background: #7545aa;
    color: #fff; }
    .major .list li.on .name:before {
      background-image: url("../image/img16on.png"); }
.major .list.fr div.title {
  background-image: url("../image/img520_2.jpg"); }
.major .list.fr li.on .name {
  background: #2574e4; }
  .major .list.fr li.on .name:before {
    background-image: url("../image/img16-1on.png"); }
.major .list.fr li .name:before {
  background-image: url("../image/img16-1.png");
  width: 0.09rem; }
.major .list.fr .container dd:before {
  background-image: url("../image/img6_3.png"); }
.major .list.fr .container dd a {
  color: #2574e4; }
.major .list.fr .container .btn a:hover {
  background: #2574e4;
  border-color: #2574e4; }

.pageTitle {
  color: #7330b7;
  font-size: .32rem;
  padding: .32rem 0; }

.pageList {
  border-top: #e9e9e9 solid 1px; }
  .pageList a {
    display: block;
    position: relative;
    border-bottom: #e9e9e9 solid 1px;
    font-size: .16rem;
    color: #000;
    min-height: .66rem;
    line-height: .66rem;
    padding-left: 1.18rem; }
    .pageList a .time {
      color: #7330b7;
      position: absolute;
      z-index: 10;
      left: 0;
      right: auto;
      top: 0;
      bottom: auto; }
    .pageList a:hover {
      color: #7330b7; }

.pageNum {
  padding: .4rem 0; }
  .pageNum a.arrow {
    font-size: .14rem;
    color: #777; }
    .pageNum a.arrow:hover {
      color: #7330b7; }
  .pageNum div a {
    font-size: .18rem;
    width: .32rem;
    height: .32rem;
    line-height: .32rem;
    text-align: center;
    -moz-border-radius: 0.04rem;
    -webkit-border-radius: 0.04rem;
    border-radius: 0.04rem;
    margin: 0 1px; }
    .pageNum div a.on, .pageNum div a:hover {
      background: #7330b7;
      color: #fff; }
    .pageNum div a.on {
      font-weight: bold; }

.photo ul {
  margin-left: -.49rem; }
.photo li {
  width: 33.333%;
  padding: 0 0 .35rem .49rem; }
.photo a {
  display: block;
  position: relative; }
  .photo a:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../image/img330.png") center top no-repeat;
    background-size: 100%; }
  .photo a .img {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .photo a .img img {
      width: 100%; }
  .photo a .name {
    color: #fff;
    position: absolute;
    z-index: 10;
    left: 0;
    right: auto;
    top: auto;
    bottom: 0.2rem;
    width: 100%;
    padding: 0 .32rem; }
    .photo a .name h2 {
      font-size: .12rem;
      padding-bottom: .08rem; }
    .photo a .name p {
      font-size: .16rem;
      line-height: .24rem; }
.photo a:hover {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4); }
  .photo a:hover .img img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1); }

.tsinghua li {
  width: 50%;
  padding-bottom: .45rem; }
.tsinghua a {
  display: block;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  padding: 0 .34rem;
  background: #fff;
  position: relative;
  z-index: 1; }
  .tsinghua a .img {
    margin-left: -.34rem;
    margin-right: -.34rem; }
  .tsinghua a .name {
    position: relative;
    background: #fff;
    top: -.32rem;
    padding-top: .32rem;
    font-size: .22rem;
    text-align: center; }
  .tsinghua a p {
    font-size: .12rem;
    line-height: .22rem;
    color: #878686;
    text-align: justify;
    min-height: 1.3rem;
    padding-bottom: .3rem; }
.tsinghua a:hover {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  z-index: 2; }

.award .content, .award p {
  font-size: .16rem;
  line-height: .28rem;
  color: #2e414a;
  text-align: justify; }
.award .content {
  padding-bottom: .4rem; }
.award .list li {
  padding-bottom: .2rem; }
.award .list .name {
  font-size: .2rem;
  padding-left: .2rem;
  color: #7330b7;
  background: url("../image/img6_2.png") left center no-repeat;
  background-size: .06rem;
  line-height: .5rem; }
.award .list2 {
  padding-top: .2rem; }
  .award .list2 li {
    padding-bottom: .4rem; }
  .award .list2 h2 {
    font-size: .16rem;
    line-height: .48rem;
    color: #2e414a; }

.channel {
  padding-bottom: 30vh; }
  .channel .title {
    padding: .2rem 0; }
    .channel .title h2 {
      font-weight: 400;
      color: #7330b7;
      font-size: .24rem;
      padding-right: .2rem;
      flex-shrink: 0;
      -webkit-flex-shrink: 0; }
    .channel .title:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e0e0e0;
      position: relative; }
  .channel .content {
    font-size: .16rem;
    line-height: .26rem;
    text-align: justify;
    padding-bottom: .15rem; }

.query {
  padding: .35rem 0 .6rem 0; }
  .query .form {
    width: 5.92rem;
    min-height: 3.31rem;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    padding: 0 .38rem;
    margin: 0 auto; }
  .query .title {
    background: url("../image/img592.jpg") center no-repeat;
    background-size: cover;
    line-height: .74rem;
    color: #fff;
    font-size: .2rem;
    padding: 0 .38rem;
    margin-left: -.38rem;
    margin-right: -.38rem;
    margin-bottom: .36rem; }
  .query li {
    padding-bottom: .16rem; }
  .query .input {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #f3f6f9;
    border: #dfe0e9 solid 1px; }
    .query .input input {
      width: 100%;
      font-size: .14rem;
      padding: 0 .2rem;
      height: .44rem;
      line-height: .44rem; }
  .query .submit {
    padding: .13rem 0; }
    .query .submit div {
      -moz-border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      border-radius: 0.5rem;
      margin: 0 auto;
      width: 1.34rem;
      background: #7545aa; }
    .query .submit input {
      width: 100%;
      height: .44rem;
      font-size: .14rem;
      color: #fff;
      cursor: pointer; }

.announcements {
  padding-top: .25rem;
  max-width: 10rem; }
  .announcements .pageList {
    border: 0; }

.school {
  padding-top: .25rem;
  max-width: 10rem; }
  .school .list li {
    border-bottom: #e2e2e2 solid 1px; }
  .school .list a {
    display: block;
    position: relative;
    min-height: .64rem;
    font-size: .16rem;
    color: #2e414a;
    padding-right: 2.2rem; }
    .school .list a .name {
      line-height: .3rem;
      padding: .17rem 0; }
    .school .list a .tag {
      -moz-border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      border-radius: 0.3rem;
      color: #fff;
      height: .28rem;
      line-height: .28rem;
      padding: 0 .18rem;
      background: url("../image/img105.png") center repeat-y;
      background-size: 100%;
      font-size: .12rem;
      position: absolute;
      z-index: 10;
      left: auto;
      right: 0;
      top: 50%;
      bottom: auto;
      margin-top: -.14rem; }
  .school .list a:hover {
    color: #7330b7; }

.video {
  padding-top: .4rem;
  max-width: 12.1rem; }
  .video .list {
    border-bottom: #e4e4e4 solid 1px; }
    .video .list ul {
      margin-left: -.43rem; }
    .video .list li {
      width: 33.333%;
      padding: 0 0 .13rem .43rem; }
    .video .list a {
      display: block; }
      .video .list a .img {
        position: relative; }
        .video .list a .img:before {
          content: "";
          display: block;
          position: absolute;
          left: .3rem;
          bottom: .22rem;
          width: .62rem;
          height: .63rem;
          background: url("../image/img62.png") center no-repeat;
          background-size: cover; }
      .video .list a .name {
        line-height: .3rem;
        min-height: .96rem;
        padding: .18rem 0;
        font-size: .18rem;
        color: #404040; }
    .video .list a:hover .img {
      opacity: .8; }
    .video .list a:hover .name {
      color: #7330b7; }

.pageShowHead {
  background: url("../image/pageShowHead.jpg") center no-repeat;
  background-size: cover; }
  .pageShowHead .wal {
    min-height: 2rem;
    position: relative;
    padding: .64rem 0 .53rem 0; }
  .pageShowHead .pageNow {
    position: absolute;
    z-index: 10;
    left: 0;
    right: auto;
    top: 0.1rem;
    bottom: auto;
    width: 100%; }
  .pageShowHead .title {
    max-width: 10rem;
    margin: 0 auto;
    position: relative;
    min-height: .83rem;
    padding: .05rem 0 .05rem .45rem;
    color: #000; }
    .pageShowHead .title:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: .05rem;
      height: 100%;
      background: url("../image/img5.jpg") center no-repeat;
      background-size: 100% 100%; }
    .pageShowHead .title h2 {
      font-size: .32rem;
      padding-bottom: .06rem; }
    .pageShowHead .title p {
      font-size: .16rem;
      font-family: 'raleway';
      font-weight: bold; }

.pageShow {
  max-width: 10rem;
  padding: .6rem 0;
  font-size: .16rem;
  line-height: .3rem; }
  .pageShow .img {
    text-align: center;
    padding-bottom: .2rem; }
    .pageShow .img span {
      display: block;
      font-size: .12rem;
      color: #7330b7;
      padding-top: .15rem; }
  .pageShow p {
    margin: 0.75em 0; }
  .pageShow h2 {
    font-weight: 400;
    font-size: .24rem;
    padding: .1rem 0;
    color: #000; }
  .pageShow h3 {
    font-weight: 400;
    font-size: .2rem;
    color: #000;
    padding: .06rem 0; }
  .pageShow a {
    color: #2475e5;
    border-bottom: #2475e5 dotted 1px;
    padding-bottom: 4px; }
    .pageShow a:hover {
      color: #7330b7;
      border: none; }
  .pageShow img, .pageShow video {
    max-width: 100%;
    height: auto !important; }

.righttools {
  position: fixed;
  z-index: 999;
  right: .2rem;
  bottom: .2rem;
  width: .52rem; }
  .righttools .i {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.25) center no-repeat;
    background-size: cover;
    height: .52rem;
    border: rgba(255, 255, 255, 0.25) solid 1px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: .1rem; }
    .righttools .i:hover {
      background-color: rgba(0, 0, 0, 0.3); }
    .righttools .i.icon-angle-up {
      background-image: url("../image/img50_1.png");
      display: none; }
    .righttools .i.icon-share {
      background-image: url("../image/img50_2.png"); }
  .righttools .sharewrapper {
    height: 0;
    overflow: hidden;
    position: relative; }
    .righttools .sharewrapper.show {
      height: 2rem; }
    .righttools .sharewrapper a.i {
      display: block;
      width: 100%;
      margin: 0 0 .1rem 0; }
    .righttools .sharewrapper .i.icon-wechat {
      background-color: #12d900;
      background-image: url("../image/img50_3.png"); }
    .righttools .sharewrapper .i.icon-weibo {
      background-color: #e80000;
      background-image: url("../image/img50_4.png"); }
    .righttools .sharewrapper .i.icon-qq {
      background-color: #5755ff;
      background-image: url("../image/img50_5.png"); }

.bd_weixin_popup {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box; }

.ie {
  text-align: center;
  font-size: 18px;
  background: #FC6;
  line-height: 1.75em;
  z-index: 100000;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 60px; }

.ie div {
  width: 70%;
  margin: auto;
  text-align: left; }

.ie span {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer; }