@import "public";

@media screen and (max-width: 800px){
  html{font-size: 50px}
  body{font-size: .24rem}
  .wal{max-width: 8rem}

  $headH:1rem;
  .headD{height: $headH}
  body.navShow{overflow: hidden;
    .navBg{display: block}
    .head .navA{background-image: url("../image/close.png")}
    .nav{right: 0}
  }
  .navBg{position: fixed; z-index: 49; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.4); display: none}
  .head{position: fixed; @include shadow(0 0 .1rem rgba(0, 0, 0, .1));
    .wal{height: $headH}
    a.logo{width: 4rem}
    .btn, .topSearch{display: none}
    .navA{display: block; @include absolute($r:-.3rem, $t:0); width: .9rem; height: $headH; background: url("../image/navA.png") center no-repeat; background-size: .4rem}
  }
  .nav{position: fixed; top: $headH; height: 100%; overflow-y: auto; width: 5.6rem; background: #fff; right: -5.6rem; padding-bottom: $headH;
    ul{flex-wrap: wrap; -webkit-flex-wrap: wrap}
    li{border-bottom: #e7e7e7 solid 1px; width: 100%;
      a.name{padding: 0 .5rem; height: 1rem; line-height: 1rem; font-size: .32rem; text-align: left;
        span{display: inline;position: static; padding-left: .1rem;transform: none;    -webkit-transform: none;font-size: 12px;}
      }
      .list{position: relative; top: 0; width: 100%; border-left: 0; margin-top: 0; @include shadow(.1rem .1rem .1rem rgba(0, 0, 0, 0)); padding: 0 0 .1rem 0; opacity: 1; visibility: visible; display: none;
        &:before{display: none}
        a{font-size: .26rem; line-height: .8rem; color: #666; padding-left: 1rem;
          &.on{color: $color}
			span {display: block;line-height: 1.25em;padding-left: 0;margin-top: -0.2rem;padding-bottom: .13rem}
        }
        .list2{position: relative; left: 0; top: 0; margin-left: 0; width: 100%; @include shadow(.1rem .1rem .1rem rgba(0, 0, 0, 0)); padding: 0 0 .1rem 0; opacity: 1; visibility: visible; display: none;
          a{padding-left: 1.2rem; font-size: .24rem}
        }
		
		  &.spe
		{
			width: auto;
		}
      }
    }
    .btn2, .search{display: block}
    .btn2{padding: .5rem .54rem;
      a{display: block; @include radius(.5rem); height: .96rem; line-height: .92rem; border: #2773e3 solid 2px; font-size: .28rem; color: #008acf; text-align: center}
    }
    .search{background: #f1f1f1; height: .9rem; position: relative;
      .input input{width: 100%; height: .9rem; line-height: .9rem; padding: 0 .5rem; font-size: .24rem}
      .submit{@include absolute($t:0, $r:0); width: .9rem; height: .9rem; background: url("../image/img17.png") center no-repeat; background-size: .34rem;
        input{width: 100%; height: .9rem}
      }
    }
  }

  .foot{
    &:before{height: 2.4rem}
    .logo{margin: 0 auto; width: 5rem}
    .msg{font-size: .22rem; line-height: .4rem; text-align: center; padding: .2rem 0 .4rem 0; width: 6.6rem; margin: 0 auto}
    .ewm{position: relative; top: 0; width: 2rem; margin: 0 auto; padding-bottom: .6rem;
      p{font-size: .22rem; margin-left: -.3rem; margin-right: -.3rem; padding-top: .1rem}
    }
    .share{width: .9rem; margin: 0 auto; height: 1rem;
      dd{width: .9rem; margin-right: 0; padding: 0 .15rem}
    }
    .info{font-size: .22rem; line-height: .4rem; padding: .3rem 0}
    .linkBg{position: fixed; z-index: 100; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); opacity: 0; visibility: hidden;
      &.show{opacity: 1; visibility: visible}
    }
    .link{position: relative; bottom: 0; width: 100%; height: .7rem; line-height: .7rem; font-size: .24rem; padding: 0 .3rem;
      &:before{width: .12rem}
      li{
        a{height: .76rem; line-height: .76rem; padding: 0 .3rem}
      }
      &.on{z-index: 1000}
    }
  }

  /*index*/
  .indexFlash{
    .swiper-slide a{height: 3.8rem;
      .name{font-size: .3rem; padding: 0 .3rem; font-weight: 400}
    }
    a.arrow{display: none}
    .dots{
      span{width: .2rem; height: .2rem; margin: 0 .15rem}
    }
  }

  .indexPart1.wal{max-width: 6.5rem; margin: 0 auto}
  .indexPart1{
    .fl, .fr{
      .title{height: 1rem; font-size: .24rem; padding-top: .1rem;
        h2{font-size: .38rem; line-height: .4rem}
        a.more{background-size: .24rem; height: .8rem}
      }
      li a{min-height: 1.3rem; color: #252586;
        &:before{display: none}
        .time{font-size: .22rem; color: #252586;
          div{font-size: .44rem}
        }
        .name{font-size: .3rem; line-height: .44rem; padding: 0 0 0 1.2rem}
      }
    }
    .fl{width: 100%}
    .fr{width: 100%;
      .list{border: 0; padding: .6rem 0 .2rem 0}
      a.btn{height: 1.9rem; padding: .5rem 0 0 .7rem;
        h2{font-size: .44rem; padding-bottom: .05rem}
        p{font-size: .22rem}
      }
    }
  }

  .indexPart2{min-height: 7.7rem;
    ul{
      li{height: 3.4rem; padding: 0 0 0 .3rem;
        img{width: 1rem}
        p{font-size: .26rem; line-height: .36rem}
        h2{font-size: .28rem}
      }
      li:nth-child(2){padding: 0 .3rem 0 0}
    }
    .container{height: 4rem; width: 6.5rem; margin-left: -3.25rem; bottom: 0.6rem; border-width: .06rem; @include radius(0); float-wrap: wrap; -webkit-flex-wrap: wrap; padding: .4rem .7rem;
      &:before{display: none}
      .title{padding-left: 0; width: 100%;padding-bottom: 0.2rem;
        p{font-size: .24rem}
        h2{font-size: .38rem}
      }
      .list{width: 100%;
        a{font-size: .25rem; padding-left: .3rem; line-height: .4rem; background-size: .1rem; padding-bottom: 0.1rem}
      }
    }
  }

  .indexPart3{
    .title{height: 1.1rem; padding-top: .1rem;
      h2{font-size: .38rem; line-height: .4rem}
      p{font-size: .24rem}
      a.more{background-size: .24rem; height: .8rem; top: 0}
    }
    .fl{width: 100%;
      .swiper-slide{
        .name{font-size: .24rem}
      }
      .dots{
        span{width: .2rem; height: .2rem; margin: 0 .15rem}
      }
    }
    .fr{width: 100%; padding-top: .5rem;
      .list{
        a{padding: .25rem 0 .2rem 0;
          .tag{height: .45rem; line-height: .45rem; padding: 0 .2rem; font-size: .2rem}
          .name{font-size: .3rem; line-height: .44rem}
        }
      }
    }
  }

  /*page*/
  .pageBanner{height: 4.2rem; background-size: auto 3rem;
    .title{color: $color; text-align: center; position: relative; z-index: 11; top: 1rem;
      h2{padding-bottom: .06rem}
    }
    .bg{width: 6.9rem; height: 2rem; margin-left: -3.45rem; padding: 1.45rem 0 0 0; text-align: center}
  }
  .pageBanner-2{height: 3rem;
    .wal{
      &:before{display: none}
    }
    .title{color: #fff; top: 0; padding: .2rem 0 .06rem 0}
    .curr{font-size: .22rem}
  }
  .pageNow{display: inline-block; font-size: .22rem; padding-left: .35rem; background-size: .22rem; background-position: left .12rem}

  .sideNav{display: none}
  .w1085{width: 100%}

  .major{
    h2.title{text-align: center; font-size: .36rem}
    .content{font-size: .3rem; line-height: 1.8em}
    .list{width: 100%; padding-bottom: .5rem;
      div.title{line-height: 1.2rem; font-size: .3rem}
      li{
        .name{font-size: .28rem; line-height: .75rem}
        .container{font-size: .24rem;
          p{line-height: 1.8em}
          .title2{font-size: .28rem; height: .9rem}
          dd a{line-height: .44rem;
            &:before{height: .44rem}
          }
          .more{
            a{width: 1.7rem; height: .6rem; line-height: .6rem}
          }
          .btn{
            a{width: 1.7rem; height: .6rem; line-height: .54rem}
          }
        }
      }
    }
  }

  .pageTitle{font-size: .36rem; text-align: center}
  .pageList{
    a{font-size: .3rem; line-height: .44rem; padding: .2rem 0;
      .time{position: relative; font-size: .24rem}
    }
  }

  .pageNum{
    a.arrow{font-size: .3rem}
    div{display: none}
  }

  .photo{
    ul{margin-left: -.2rem}
    li{width: 100%; padding: 0 0 .3rem .2rem}
    a{display: block; position: relative;
      .name{
        h2{font-size: .24rem}
        p{font-size: .3rem; line-height: .44rem}
      }
    }
  }

  .tsinghua{
    li{width: 100%}
    a{
      .name{font-size: .32rem}
      p{font-size: .22rem; line-height: 1.8em}
    }
  }

  .award{
    .content, p{font-size: .3rem; line-height: 1.8em}
    .list{
      .name{font-size: .36rem; line-height: .7rem}
    }
    .list2{
      h2{font-size: .34rem; line-height: .5rem; padding: .1rem 0}
    }
  }

  .channel{padding-bottom: .5rem;
    .title{
      h2{font-size: .36rem}
    }
    .content{font-size: .3rem; line-height: 1.8em}
  }

  .query{
    .title{line-height: 1rem; font-size: .3rem}
    li{padding-bottom: .2rem}
    .input{
      input{font-size: .24rem; height: .7rem; line-height: .7rem}
    }
    .submit{padding: .2rem 0 .5rem 0;
      div{width: 1.8rem}
      input{height: .7rem; font-size: .24rem}
    }
  }

  .school{
    .list{
      a{line-height: .4rem; font-size: .24rem; padding: .25rem 0 .2rem 0;
        .name{padding-top: .1rem; font-size: .3rem; line-height: 1.7em}
        .tag{height: .45rem; line-height: .45rem; padding: 0 .2rem; font-size: .22rem; position: relative; top: 0; margin-top: 0; display: inline-block}
      }
    }
  }

  .video{
    .list{
      ul{margin-left: -.2rem}
      li{width: 50%; padding: 0 0 .1rem .2rem}
      a{
        .name{line-height: .4rem; font-size: .24rem; padding-top: .2rem}
      }
    }
  }

  .pageShowHead{
    .wal{padding-top: .8rem}
    .pageNow{top: .2rem}
    .title{padding-top: 0;
      h2{font-size: .42rem; padding-bottom: .1rem; line-height: 1.6em}
      p{font-size: .22rem}
    }
  }
  .pageShow{font-size: .3rem; line-height: 1.9em;
    .img span{font-size: .2rem}
    h2{font-size: 1.5em}
    h3{font-size: 1.25em}
    a{
      &:before{display: none}
    }
  }
  .righttools{display: none}

}
@media screen and (max-width: 550px){
  .wal{margin: 0 .3rem;}
}