a, .transition, :before, img, .nav {
  transition: All 0.3s linear;
  -webkit-transition: All 0.3s linear;
  -moz-transition: All 0.3s linear;
  -o-transition: All 0.3s linear; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.flex {
  display: flex;
  display: -webkit-flex; }

.flexColumn {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column; }

.itemsCenter {
  align-items: center;
  -webkit-align-items: center; }

.justifyCenter {
  justify-content: center;
  -webkit-justify-content: center; }

.flexAround {
  justify-content: space-around;
  -webkit-justify-content: space-around; }

.flexBetween {
  justify-content: space-between;
  -webkit-justify-content: space-between; }

.flexWrap {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.morePublic {
  display: block;
  width: .32rem;
  height: .46rem;
  background: url("../image/more18.png") center no-repeat;
  background-size: .18rem;
  position: absolute;
  z-index: 10;
  left: auto;
  right: 0;
  top: 0;
  bottom: auto; }
  .morePublic:hover {
    background-image: url("../image/more18on.png"); }

.pPublic {
  text-transform: uppercase;
  font-family: 'raleway';
  font-weight: 400; }

@media screen and (max-width: 800px) {
  html {
    font-size: 50px; 
  }

  body {
    font-size: .24rem; }

  .wal {
    max-width: 8rem; }

  .headD {
    height: 1rem; 
  }

  body.navShow {
    overflow: hidden; }
    body.navShow .navBg {
      display: block; }
    body.navShow .head .navA {
      background-image: url("../image/close.png"); }
    body.navShow .nav {
      right: 0; }

  .navBg {
    position: fixed;
    z-index: 49;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none; }

  .head {
    position: fixed;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1); }
    .head .wal {
      height: 1rem; }
    .head a.logo {
      width: 4rem; }
    .head .btn, .head .topSearch {
      display: none; }
    .head .navA {
      display: block;
      position: absolute;
      z-index: 10;
      left: auto;
      right: -0.3rem;
      top: 0;
      bottom: auto;
      width: .9rem;
      height: 1rem;
      background: url("../image/navA.png") center no-repeat;
      background-size: .4rem; }

  .nav {
    position: fixed;
    top: 1rem;
    height: 100%;
    overflow-y: auto;
    width: 5.6rem;
    background: #fff;
    right: -5.6rem;
    padding-bottom: 1rem; }
    .nav ul {
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap; }
    .nav li {
      border-bottom: #e7e7e7 solid 1px;
      width: 100%; }
      .nav li a.name {
        padding: 0 .5rem;
        height: 1rem;
        line-height: 1rem;
        font-size: .32rem;
        text-align: left; }
        .nav li a.name span {
          display: inline;
          position: static;
          padding-left: .1rem;
          transform: none;
          -webkit-transform: none;
          font-size: 12px; }
      .nav li .list {
        position: relative;
        top: 0;
        width: 100%;
        border-left: 0;
        margin-top: 0;
        box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0);
        -moz-box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0);
        padding: 0 0 .1rem 0;
        opacity: 1;
        visibility: visible;
        display: none; }
        .nav li .list:before {
          display: none; }
        .nav li .list a {
          font-size: .26rem;
          line-height: .8rem;
          color: #666;
          padding-left: 1rem; }
          .nav li .list a.on {
            color: #7330b7; }
          .nav li .list a span {
            display: block;
            line-height: 1.25em;
            padding-left: 0;
            margin-top: -0.2rem;
            padding-bottom: .13rem; }
        .nav li .list .list2 {
          position: relative;
          left: 0;
          top: 0;
          margin-left: 0;
          width: 100%;
          box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0);
          -webkit-box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0);
          -moz-box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0);
          padding: 0 0 .1rem 0;
          opacity: 1;
          visibility: visible;
          display: none; }
          .nav li .list .list2 a {
            padding-left: 1.2rem;
            font-size: .24rem; }
        .nav li .list.spe {
          width: auto; }
    .nav .btn2, .nav .search {
      display: block; }
    .nav .btn2 {
      padding: .5rem .54rem; }
      .nav .btn2 a {
        display: block;
        -moz-border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        border-radius: 0.5rem;
        height: .96rem;
        line-height: .92rem;
        border: #2773e3 solid 2px;
        font-size: .28rem;
        color: #008acf;
        text-align: center; }
    .nav .search {
      background: #f1f1f1;
      height: .9rem;
      position: relative; }
      .nav .search .input input {
        width: 100%;
        height: .9rem;
        line-height: .9rem;
        padding: 0 .5rem;
        font-size: .24rem; }
      .nav .search .submit {
        position: absolute;
        z-index: 10;
        left: auto;
        right: 0;
        top: 0;
        bottom: auto;
        width: .9rem;
        height: .9rem;
        background: url("../image/img17.png") center no-repeat;
        background-size: .34rem; }
        .nav .search .submit input {
          width: 100%;
          height: .9rem; }

  .foot:before {
    height: 2.4rem; }
  .foot .logo {
    margin: 0 auto;
    width: 5rem; }
  .foot .msg {
    font-size: .22rem;
    line-height: .4rem;
    text-align: center;
    padding: .2rem 0 .4rem 0;
    width: 6.6rem;
    margin: 0 auto; }
  .foot .ewm {
    position: relative;
    top: 0;
    width: 2rem;
    margin: 0 auto;
    padding-bottom: .6rem; }
    .foot .ewm p {
      font-size: .22rem;
      margin-left: -.3rem;
      margin-right: -.3rem;
      padding-top: .1rem; }
  .foot .share {
    width: .9rem;
    margin: 0 auto;
    height: 1rem; }
    .foot .share dd {
      width: .9rem;
      margin-right: 0;
      padding: 0 .15rem; }
  .foot .info {
    font-size: .22rem;
    line-height: .4rem;
    padding: .3rem 0; }
  .foot .linkBg {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    visibility: hidden; }
    .foot .linkBg.show {
      opacity: 1;
      visibility: visible; }
  .foot .link {
    position: relative;
    bottom: 0;
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    font-size: .24rem;
    padding: 0 .3rem; }
    .foot .link:before {
      width: .12rem; }
    .foot .link li a {
      height: .76rem;
      line-height: .76rem;
      padding: 0 .3rem; }
    .foot .link.on {
      z-index: 1000; }

  /*index*/
  .indexFlash .swiper-slide a {
    height: 3.8rem; }
    .indexFlash .swiper-slide a .name {
      font-size: .3rem;
      padding: 0 .3rem;
      font-weight: 400; }
  .indexFlash a.arrow {
    display: none; }
  .indexFlash .dots span {
    width: .2rem;
    height: .2rem;
    margin: 0 .15rem; }

  .indexPart1.wal {
    max-width: 6.5rem;
    margin: 0 auto; }

  .indexPart1 .fl .title, .indexPart1 .fr .title {
    height: 1rem;
    font-size: .24rem;
    padding-top: .1rem; }
    .indexPart1 .fl .title h2, .indexPart1 .fr .title h2 {
      font-size: .38rem;
      line-height: .4rem; }
    .indexPart1 .fl .title a.more, .indexPart1 .fr .title a.more {
      background-size: .24rem;
      height: .8rem; }
  .indexPart1 .fl li a, .indexPart1 .fr li a {
    min-height: 1.3rem;
    color: #252586; }
    .indexPart1 .fl li a:before, .indexPart1 .fr li a:before {
      display: none; }
    .indexPart1 .fl li a .time, .indexPart1 .fr li a .time {
      font-size: .22rem;
      color: #252586; }
      .indexPart1 .fl li a .time div, .indexPart1 .fr li a .time div {
        font-size: .44rem; }
    .indexPart1 .fl li a .name, .indexPart1 .fr li a .name {
      font-size: .3rem;
      line-height: .44rem;
      padding: 0 0 0 1.2rem; }
  .indexPart1 .fl {
    width: 100%; }
  .indexPart1 .fr {
    width: 100%; }
    .indexPart1 .fr .list {
      border: 0;
      padding: .6rem 0 .2rem 0; }
    .indexPart1 .fr a.btn {
      height: 1.9rem;
      padding: .5rem 0 0 .7rem; }
      .indexPart1 .fr a.btn h2 {
        font-size: .44rem;
        padding-bottom: .05rem; }
      .indexPart1 .fr a.btn p {
        font-size: .22rem; }

  .indexPart2 {
    min-height: 7.7rem; }
    .indexPart2 ul li {
      height: 3.4rem;
      padding: 0 0 0 .3rem; }
      .indexPart2 ul li img {
        width: 1rem; }
      .indexPart2 ul li p {
        font-size: .26rem;
        line-height: .36rem; }
      .indexPart2 ul li h2 {
        font-size: .28rem; }
    .indexPart2 ul li:nth-child(2) {
      padding: 0 .3rem 0 0; }
    .indexPart2 .container {
      height: 4rem;
      width: 6.5rem;
      margin-left: -3.25rem;
      bottom: 0.6rem;
      border-width: .06rem;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      float-wrap: wrap;
      -webkit-flex-wrap: wrap;
      padding: .4rem .7rem; }
      .indexPart2 .container:before {
        display: none; }
      .indexPart2 .container .title {
        padding-left: 0;
        width: 100%;
        padding-bottom: 0.2rem; }
        .indexPart2 .container .title p {
          font-size: .24rem; }
        .indexPart2 .container .title h2 {
          font-size: .38rem; }
      .indexPart2 .container .list {
        width: 100%; }
        .indexPart2 .container .list a {
          font-size: .25rem;
          padding-left: .3rem;
          line-height: .4rem;
          background-size: .1rem;
          padding-bottom: 0.1rem; }

  .indexPart3 .title {
    height: 1.1rem;
    padding-top: .1rem; }
    .indexPart3 .title h2 {
      font-size: .38rem;
      line-height: .4rem; }
    .indexPart3 .title p {
      font-size: .24rem; }
    .indexPart3 .title a.more {
      background-size: .24rem;
      height: .8rem;
      top: 0; }
  .indexPart3 .fl {
    width: 100%; }
    .indexPart3 .fl .swiper-slide .name {
      font-size: .24rem; }
    .indexPart3 .fl .dots span {
      width: .2rem;
      height: .2rem;
      margin: 0 .15rem; }
  .indexPart3 .fr {
    width: 100%;
    padding-top: .5rem; }
    .indexPart3 .fr .list a {
      padding: .25rem 0 .2rem 0; }
      .indexPart3 .fr .list a .tag {
        height: .45rem;
        line-height: .45rem;
        padding: 0 .2rem;
        font-size: .2rem; }
      .indexPart3 .fr .list a .name {
        font-size: .3rem;
        line-height: .44rem; }

  /*page*/
  .pageBanner {
    height: 4.2rem;
    background-size: auto 3rem; }
    .pageBanner .title {
      color: #7330b7;
      text-align: center;
      position: relative;
      z-index: 11;
      top: 1rem; }
      .pageBanner .title h2 {
        padding-bottom: .06rem; }
    .pageBanner .bg {
      width: 6.9rem;
      height: 2rem;
      margin-left: -3.45rem;
      padding: 1.45rem 0 0 0;
      text-align: center; }

  .pageBanner-2 {
    height: 3rem; }
    .pageBanner-2 .wal:before {
      display: none; }
    .pageBanner-2 .title {
      color: #fff;
      top: 0;
      padding: .2rem 0 .06rem 0; }
    .pageBanner-2 .curr {
      font-size: .22rem; }

  .pageNow {
    display: inline-block;
    font-size: .22rem;
    padding-left: .35rem;
    background-size: .22rem;
    background-position: left .12rem; }

  .sideNav {
    display: none; }

  .w1085 {
    width: 100%; }

  .major h2.title {
    text-align: center;
    font-size: .36rem; }
  .major .content {
    font-size: .3rem;
    line-height: 1.8em; }
  .major .list {
    width: 100%;
    padding-bottom: .5rem; }
    .major .list div.title {
      line-height: 1.2rem;
      font-size: .3rem; }
    .major .list li .name {
      font-size: .28rem;
      line-height: .75rem; }
    .major .list li .container {
      font-size: .24rem; }
      .major .list li .container p {
        line-height: 1.8em; }
      .major .list li .container .title2 {
        font-size: .28rem;
        height: .9rem; }
      .major .list li .container dd a {
        line-height: .44rem; }
        .major .list li .container dd a:before {
          height: .44rem; }
      .major .list li .container .more a {
        width: 1.7rem;
        height: .6rem;
        line-height: .6rem; }
      .major .list li .container .btn a {
        width: 1.7rem;
        height: .6rem;
        line-height: .54rem; }

  .pageTitle {
    font-size: .36rem;
    text-align: center; }

  .pageList a {
    font-size: .3rem;
    line-height: .44rem;
    padding: .2rem 0; }
    .pageList a .time {
      position: relative;
      font-size: .24rem; }

  .pageNum a.arrow {
    font-size: .3rem; }
  .pageNum div {
    display: none; }

  .photo ul {
    margin-left: -.2rem; }
  .photo li {
    width: 100%;
    padding: 0 0 .3rem .2rem; }
  .photo a {
    display: block;
    position: relative; }
    .photo a .name h2 {
      font-size: .24rem; }
    .photo a .name p {
      font-size: .3rem;
      line-height: .44rem; }

  .tsinghua li {
    width: 100%; }
  .tsinghua a .name {
    font-size: .32rem; }
  .tsinghua a p {
    font-size: .22rem;
    line-height: 1.8em; }

  .award .content, .award p {
    font-size: .3rem;
    line-height: 1.8em; }
  .award .list .name {
    font-size: .36rem;
    line-height: .7rem; }
  .award .list2 h2 {
    font-size: .34rem;
    line-height: .5rem;
    padding: .1rem 0; }

  .channel {
    padding-bottom: .5rem; }
    .channel .title h2 {
      font-size: .36rem; }
    .channel .content {
      font-size: .3rem;
      line-height: 1.8em; }

  .query .title {
    line-height: 1rem;
    font-size: .3rem; }
  .query li {
    padding-bottom: .2rem; }
  .query .input input {
    font-size: .24rem;
    height: .7rem;
    line-height: .7rem; }
  .query .submit {
    padding: .2rem 0 .5rem 0; }
    .query .submit div {
      width: 1.8rem; }
    .query .submit input {
      height: .7rem;
      font-size: .24rem; }

  .school .list a {
    line-height: .4rem;
    font-size: .24rem;
    padding: .25rem 0 .2rem 0; }
    .school .list a .name {
      padding-top: .1rem;
      font-size: .3rem;
      line-height: 1.7em; }
    .school .list a .tag {
      height: .45rem;
      line-height: .45rem;
      padding: 0 .2rem;
      font-size: .22rem;
      position: relative;
      top: 0;
      margin-top: 0;
      display: inline-block; }

  .video .list ul {
    margin-left: -.2rem; }
  .video .list li {
    width: 50%;
    padding: 0 0 .1rem .2rem; }
  .video .list a .name {
    line-height: .4rem;
    font-size: .24rem;
    padding-top: .2rem; }

  .pageShowHead .wal {
    padding-top: .8rem; }
  .pageShowHead .pageNow {
    top: .2rem; }
  .pageShowHead .title {
    padding-top: 0; }
    .pageShowHead .title h2 {
      font-size: .42rem;
      padding-bottom: .1rem;
      line-height: 1.6em; }
    .pageShowHead .title p {
      font-size: .22rem; }

  .pageShow {
    font-size: .3rem;
    line-height: 1.9em; }
    .pageShow .img span {
      font-size: .2rem; }
    .pageShow h2 {
      font-size: 1.5em; }
    .pageShow h3 {
      font-size: 1.25em; }
    .pageShow a:before {
      display: none; }

  .righttools {
    display: none; } }
@media screen and (max-width: 550px) {
  .wal {
    margin: 0 .3rem; } }

/*# sourceMappingURL=phone.css.map */
